<div class="container">
  <div class="col-md-6">
    <input class="form-control" type="file" (change)="onFileChanged({event : $event})"/>
  </div>
</div>

<div class="container">
  <div class="container">
    <form>
      <label for="product-name">Product Name:</label><br>
      <input type="text" id="product-name" [(ngModel)]="product.name" name="product-name"><br>
      <br>
      <label for="description">Description:</label><br>
      <textarea id="description" [(ngModel)]="product.description" name="description"></textarea>
      <br>
      <br>
      <label for="expiration-date">Expiration Date:</label><br>
      <input type="date" id="expiration-date" [(ngModel)]="product.expirationDate" name="expiration-date">
      <br>
      <br>
      <label for="manufacturer">Manufacturer:</label><br>
      <input type="text" id="manufacturer" [(ngModel)]="product.manufacturer" name="manufacturer"><br>
      <br>
      <label for="price">Price:</label><br>
      <input type="number" id="price" [(ngModel)]="product.price" name="price">
      <br><br>
      <button (click)="submitForm()">Submit</button>
    </form>
  </div>

  <div *ngIf=retrievedImage>
    <img [src]="retrievedImage">
  </div>
</div>
