<div class="container">
  <div class="container">
    <form>
      <label for="idProduct">Product Name:</label><br>
      <select id="idProduct" [(ngModel)]="lot.productId" name="idProduct" *ngIf="productList">
        <option *ngFor="let product of productList" [value]="product.id">{{ product.name }}</option>
      </select>
      <br>
      <br>
      <label for="expiration-date">Expiration Date:</label><br>
      <input type="date" id="expiration-date" [(ngModel)]="lot.expirationDate" name="expiration-date"
             [min]="getNextDayDate()" (change)="isFormValid()">
      <br>
      <br>
      <label for="quantity">Quantity:</label><br>
      <input type="number" id="quantity" [(ngModel)]="lot.quantity" name="quantity" min="0" (change)="isFormValid()">
      <br>
      <button (click)="submitForm()">Submit</button>
      <app-pop-up [modalText]="textToDisplay" [isModalOpen]="isModalOpen"
                  (isModalOpenChange)="onModalOpenChange($event)"></app-pop-up>
      <div *ngIf="!formValid">
        <span style="color: red;">Please enter a valid quantity and expiration date</span>
      </div>
    </form>
  </div>
</div>
