<div id='form-wrapper'>
  <form>

    <div id='header' class='text-center mb-3'>
      <h1>Checkout</h1>
    </div>

    <div class='text-center'>
      <i class="fab fa-cc-visa fa-3x mr-3"></i>
      <i class="fab fa-cc-mastercard fa-3x mr-3"></i>
      <i class="fab fa-cc-amex fa-3x mr-3"></i>
      <i class="fab fa-cc-discover fa-3x mr-3"></i>
    </div>

    <h5>Billing Info</h5>

    <hr>

    <div class='form-group mb-1'>
      <label class='mb-1' for='firstName'>First Name</label>
      <input class='form-control mb-1' id='firstName' type='text' [(ngModel)]="order.firstName" name="firstName">
    </div>

    <div class='form-group mb-1'>
      <label class='mb-1' for='lastName'>Last Name</label>
      <input id='lastName' type='text' class='form-control' [(ngModel)]="order.lastName" name="lastName">
    </div>
    <div class='form-group mb-1'>
      <label class='mb-1' for='email'>Email</label>
      <input id='email' type='text' class='form-control' [(ngModel)]="order.email" name="email">
    </div>

    <div class='form-group mb-1'>
      <label class='mb-1' for='phone'>Phone Number</label>
      <input id='phone' type='text' class='form-control' [(ngModel)]="order.phoneNumber" name="phone">
    </div>

    <div class='form-group mb-1'>
      <label class='mb-1'>Street</label>
      <input class='form-control' type='text' id='street1' [(ngModel)]="order.address" name="street">
    </div>

    <div class='form-group mb-1'>
      <label class='mb-1' for='city'>City</label>
      <input type='text' id='city' class='form-control' [(ngModel)]="order.city" name="city">
    </div>

    <div class='form-row mb-2'>
      <div class='col-md-8'>
        <label class='mb-1' for='state'>State</label>
        <input id='state' class='form-control' [(ngModel)]="order.state" name="state">
      </div>
      <div class='col-md-4'>

        <label class='mb-1' for='zip'>Zip</label>
        <input type='text' id='zip' class='form-control' [(ngModel)]="order.zip" name="zip">
      </div>
    </div>

    <div class='form-row mb-1'>
      <button class='btn btn-primary mt-4' type='submit' (click)="submitForm()"><i class="fas fa-lock mr-2"></i>Submit
        Payment
      </button>
    </div>
  </form>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin=""/>

  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
          integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
          crossorigin=""></script>
    <div id="map" class="map"></div>
</div>
