<div id='form-wrapper'>
  <form>

    <div id='header' class='text-center mb-3'>
      <h1>Checkout</h1>
    </div>

    <div class='text-center'>
      <i class="fab fa-cc-visa fa-3x mr-3"></i>
      <i class="fab fa-cc-mastercard fa-3x mr-3"></i>
      <i class="fab fa-cc-amex fa-3x mr-3"></i>
      <i class="fab fa-cc-discover fa-3x mr-3"></i>
    </div>

    <h5>Billing Info</h5>

    <hr>

    <div class='form-group mb-1'>
      <label class='mb-1' for='firstName'>First Name</label>
      <input class='form-control mb-1' id='firstName' type='text' [(ngModel)]="order.firstName">
    </div>

    <div class='form-group mb-1'>
      <label class='mb-1' for='lastName'>Last Name</label>
      <input id='lastName' type='text' class='form-control' [(ngModel)]="order.lastName">
    </div>
    <div class='form-group mb-1'>
      <label class='mb-1' for='email'>Email</label>
      <input id='email' type='text' class='form-control' [(ngModel)]="order.email">
    </div>

    <div class='form-group mb-1'>
      <label class='mb-1' for='phone'>Phone Number</label>
      <input id='phone' type='text' class='form-control' [(ngModel)]="order.phoneNumber">
    </div>

    <div class='form-group mb-1'>
      <label class='mb-1'>Street</label>
      <input class='form-control' type='text' id='street1' [(ngModel)]="order.street">
    </div>

    <div class='form-group mb-1'>
      <label class='mb-1' for='city'>City</label>
      <input type='text' id='city' class='form-control' [(ngModel)]="order.city">
    </div>

    <div class='form-row mb-2'>
      <div class='col-md-8'>
        <label class='mb-1' for='state'>State</label>
        <input id='state' class='form-control' [(ngModel)]="order.state">
      </div>
      <div class='col-md-4'>

        <label class='mb-1' for='zip'>Zip</label>
        <input type='text' id='zip' class='form-control' [(ngModel)]="order.zip">
      </div>
    </div>

    <h5>Card Info</h5>

    <hr class='mb-1'>

    <div class='form-group mb-1'>
      <label class='mb-1' for='nameOnCard'>Name on card</label>
      <input class='form-control' id='nameOnCard' [(ngModel)]="order.card.cardName">
    </div>

    <div class='form-group mb-1'>
      <label class='mb-1' for='cardNum'>Card number</label>
      <input class='form-control' id='cardNum' placeholder="1111 2222 3333 4444" [(ngModel)]="order.card.cardNumber">
    </div>

    <div class='form-row mb-1'>
      <div class='col'>
        <label class='mb-0' for='expMonth'>Expiration Month</label>
        <select class='form-control' id='expMonth' [(ngModel)]="order.card.expMonth">
          <option value='01'>Jan</option>
          <option value='02'>Feb</option>
          <option value='03'>March</option>
          <option value='04'>April</option>
          <option value='05'>May</option>
          <option value='06'>June</option>
          <option value='07'>July</option>
          <option value='08'>Aug</option>
          <option value='09'>Sept</option>
          <option value='10'>Oct</option>
          <option value='11'>Nov</option>
          <option value='12'>Dec</option>
        </select>
      </div>
      <div class='col'>
        <label class='mb-0' for='expYear'>Exp Year</label>
        <select class='form-control' id='expYear' [(ngModel)]="order.card.expYear">
          <option value='2023'>2030</option>
          <option value='2023'>2029</option>
          <option value='2023'>2028</option>
          <option value='2023'>2027</option>
          <option value='2023'>2026</option>
          <option value='2023'>2025</option>
          <option value='2023'>2024</option>
          <option value='2023'>2023</option>
        </select>
      </div>
      <div class='col'>
        <label class='mb-0' for='ccv'>CCV</label>
        <input placeholder='* * * *' class='form-control' id='ccv' [(ngModel)]="order.card.ccv">
      </div>
      <button class='btn btn-primary mt-4' type='submit' (click)="submitForm()"><i class="fas fa-lock mr-2"></i>Submit Payment</button>
    </div>
  </form>
</div>

Aici dupa ce da pe submit payment, o sa se trimita un email de comfirmare( impreuna cu numarul comenzii). Apoi o sa apara un popup cu (ty for your purchase)
