<div class="container">
  <div style="margin-top:3%">
      <div class="center-div">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search products" [(ngModel)]="searchQuery" (keydown.enter)="searchProducts()">
        </div>
      </div>
    <div class="product-table">
      <table>
        <tr>
          <th>Image</th>
          <th>Name</th>
          <th>Description</th>
          <th>Manufacturer</th>
          <th>Price</th>
          <th></th>
        </tr>
        <tr *ngFor="let product of productListPage | paginate:{itemsPerPage:pageSize,currentPage:page,totalItems:totalLength}">
          <td><img [src]="product.image" alt="Product Image" height="100"></td>
          <td>{{ product.name }}</td>
          <td>{{ product.description }}</td>
          <td>{{ product.manufacturer }}</td>
          <td>{{ product.price }}</td>
          <td>
            <button (click)="submitForm(product)">Delete</button>
          </td>
        </tr>
      </table>
      <pagination-controls class="text-center" (pageChange)="onPageChange($event)"></pagination-controls>
    </div>
    <div *ngIf="!formValid">
      <span style="color: red;">Please enter valid information for all fields</span>
    </div>
  </div>
</div>
