<div class="container">
  <div class="col-md-6">
    <label>Change image: </label>
    <input class="form-control" type="file" (change)="onFileChanged({event : $event})"/>
    <div *ngIf="productUpdate && productUpdate.media">
      <label>Current image: </label>
      <img class="min-img" [src]="productUpdate.media.url" alt="">
    </div>
  </div>
</div>

<div class="container">
  <div>
    <form>
      <label for="productNameList">Product Name:</label><br>
      <select id="productNameList" [(ngModel)]="productUpdate.name" name="productNameList"
              (change)="onSelectProduct(productUpdate.name)" *ngIf="productList"  style="width: 500px;">
        <option *ngFor="let product of productList" [value]="product.name">{{ product.name }}</option>
      </select>
      <br>
      <label for="idProduct">Product ID: </label><br>
      <input type="text" id="idProduct" [(ngModel)]="productUpdate.id" name="idProduct" [disabled]="true">
      <br><br>
      <label for="productName">Product Name:</label><br>
      <input type="text" id="productName" [(ngModel)]="productUpdate.name" name="productName"><br>
      <br>
      <label for="description">Description:</label><br>
      <textarea id="description" [(ngModel)]="productUpdate.description" name="description"></textarea>
      <br>
      <br>
      <label for="manufacturer">Manufacturer:</label><br>
      <input type="text" id="manufacturer" [(ngModel)]="productUpdate.manufacturer" name="manufacturer"><br>
      <br>
      <label for="price">Price:</label><br>
      <input type="number" id="price" [(ngModel)]="productUpdate.price" name="price" min="0" step="0.1">
      <br><br>
      <button (click)="submitForm()">Submit</button>
      <div *ngIf="!formValid">
        <span style="color: red;">Please enter valid information for all fields</span>
      </div>
    </form>
  </div>
</div>
