<div class="center-div">
  <div class="sort-control-group ">
    <label>Sort by:</label>
    <select [(ngModel)]="sortBy" (change)="getProducts(sortBy,sortDir,pageSize)">
      <option value="name">Name</option>
      <option value="manufacturer">Manufacturer</option>
    </select>
  </div>

  <div class="sort-control-group ">
    <label>Sort direction:</label>
    <select [(ngModel)]="sortDir" (change)="getProducts(sortBy,sortDir,pageSize)">
      <option value="asc">Asc</option>
      <option value="desc">Desc</option>
    </select>
  </div>
</div>

<div class="container mt-5 mb-5" *ngIf="products$">
  <div class="row">
    <div *ngFor="let product of products$ | paginate:{itemsPerPage:12,currentPage:page,totalItems:totalLength}"
         class="col-lg">
      <div class="product">
        <a [routerLink]="url+product.id">
          <div>
            <img [src]="product.mediaUrl" alt="Product Image">
          </div>
          <div>
            <h2>{{product.name}}</h2>
            <p class="price">Price: {{product.price}} Ron</p>
            <p class="description">Description: {{product.description}}</p>
          </div>
        </a>
        <button class="center-btn">Add to Cart</button>
      </div>
    </div>
  </div>
</div>
<pagination-controls class="text-center" (pageChange)="page = $event"></pagination-controls>
