<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h4>Contact Us</h4>
        <p>123 Main Street</p>
        <p>Anytown, USA 12345</p>
        <p>Phone: (123) xxx-xxxx</p>
        <p>Email: spring.epidemic.relief@gmail.com</p>
      </div>
      <div class="col-sm-4">
        <h4>QA</h4>
        <p>Our products are tested thoroughly to ensure quality.</p>
      </div>
      <div class="col-sm-4">
        <h4>Connect with Us</h4>
        <p>Follow us on social media:</p>
        <ul>
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">LinkedIn</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
