<div class="container">
  <img class="small" src="assets/image/boxes.png" alt="">
  <h2>Subscribe to Our Weekly Package!</h2>
  <p>Based on your family members, you will receive a package tailored just for you.</p>
  <p>The package may contain:</p>
  <ul>
    <li>2 liters of water per day for each family member.</li>
    <li>A chocolate and an orange juice for each child.</li>
    <li>Vegan canned products for vegan family members.</li>
    <li>Meat products for non-vegan family members.</li>
  </ul>
  <p>The quantities of each product will be calculated based on your family members to provide you with a weekly
    supply.</p>
  <p>Don't miss out on this amazing opportunity. Join our subscription service today!</p>
  <div style="color:red">
    <h4>IMPORTANT!</h4>
    <p style="color: red">Before subscribing, we suggest you to change your household data in your profile. </p>
  </div>
  <h3>Select a date for weekly delivery</h3>
  <input type="date" id="expiration-date" [(ngModel)]="subscription.date" name="expiration-date"
         [min]="getNextDayDate()" (change)="isFormValid()">
  <a (click)="subscribe()" class="subscription-button">Subscribe</a>
  <p class="error-message" *ngIf="!isDateSelectedValid" style="color: red">Please select a date for weekly delivery.</p>
  <br>
</div>
